body {
  font-family: Arial, sans-serif;
  margin: 2em;
  background-color: #62694a;
}

h1 {
  text-align: center;
  color: #333;
  border: #141513 1px solid;
  padding: 0.5em;
  background: #543939;

 font-family: 'Montserrat', Arial, sans-serif;
}
form {
  background: #f9f9f9;
  padding: 1.5em;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

label, legend {
  font-weight: bold;
}

input, select, textarea {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  padding: 0.4em;
  font-size: 1em;
}

.rating-group {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 5px;
}

.rating-group input {
  display: none;
}

.rating-group label {
  font-size: 1.8em;
  color: #ccc;
  cursor: pointer;
}

.rating-group input:checked ~ label,
.rating-group label:hover,
.rating-group label:hover ~ label {
  color: gold;
}

input[type="submit"] {
  background: #0078d7;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.6em 1.2em;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #005ea6;
}

footer {
  text-align: center;
  margin-top: 2em;
  font-size: 0.9em;
  color: #141513;
  padding: 1em;
  border: 1px solid #ccc;
  background: #8a4f4f;
}
